# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore migration files in all apps
*/migrations/

# Ignore virtual environment directory
venv/
env/
.env
lab_reports.db

# Ignore all PDF files
*.pdf

dist
build

*.spec
*.exe
